*~
*.swp
Debug/*
Release/*
LuaSDL/Debug/*
LuaSDL/Release/*
*.sdf
*.opensdf
*.suo
other/*
build/*
external/jpeg-9/build/*
external/libpng-1.6.2/build/*
external/libwebp-0.3.0/build/*
external/tiff-4.0.3/build/*
external/zlib-1.2.8/build/*
autom4te*
config.cache
config.log
config.status
Makefile
libtool
.deps
.libs
*.lo
*.o
*.la
*.lai
*.xcworkspacedata
*.xcuserdatad
.DS_Store
SDL2_mixer.pc
